body{
    background-color: rgb(192, 156, 156);
}

.container {
    width: 30rem;
    font-family: Helvetica;
}

h1,small {
    color: rgb(238, 216, 216);
}
small {
    font-size: 0.7em;
}



i.fa-trash {
	margin: 7px;
}

span {
	background: tomato;
	height: 35px;
	width: 0;
	margin-right: 10px;
	margin-left: -10px;
	text-align: center;
	display: inline-block;
	color: white;
	opacity: 0;
	transition: 0.2s linear;
}

li:hover span {
	opacity: 1;
	width: 40px;
}